.weather{
    display: flex;
    padding: 3rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.choose{
    background-color: rgba(51, 87, 121, 1);
    padding: 1rem;
    border-radius: 10px;
}